# .env
CONTAINER_NAME=k8s-proxyhost
SSH_PORT=2222
TIMEZONE=Europe/Moscow

# Пути
SSH_KEYS_PATH=./folder_with_sshkey
KUBECONFIG_PATH=./kubeconfig/config

# GitLab
GITLAB_URL=https://gitlab.com
GITLAB_RUNNER_TOKEN_SHELL=glrt-xxxxxxxxxxxx
# GITLAB_RUNNER_TOKEN_DOCKER=glrt-yyyyyyyyyyyy  # опционально

# Ресурсы
CPU_LIMIT=0.8
MEMORY_LIMIT=1G
CPU_RESERVATION=0.2
MEMORY_RESERVATION=256M