*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#compilation logs
.gwt/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/

----

# Игнорировать папку .terraform
.terraform/

# Игнорировать файлы состояния Terraform
*.tfstate
*.tfstate.*

# Игнорировать файлы блокировки Terraform
.terraform.lock.hcl

# Игнорировать crash.log (если есть)
crash.log

# Игнорировать планы Terraform
*.tfplan

# Игнорировать файлы переменных (если используются)
*.tfvars

# Игнорировать локальные файлы конфигурации
.terraformrc
terraform.rc

# Игнорировать ключи подключения
*.pem
*.pub

# Игнорировать архивы
*.tar
*.tgz
*.7z

# Секреты
*.env
!.env.example
secrets/
keys/
*.key
*.pem
*.crt

# Резервные копии
*_backup*
*_old*
*.bak
*.backup
*_backup

# Питон
__pycache__/
*.py[cod]
.env/
.venv/
venv/